# MongoDB Connection
MONGODB_USERNAME=ashishrai21788
MONGODB_PASSWORD=Ashish%40123
MONGODB_CLUSTER=ashishrai.rwyojvh.mongodb.net
DB_NAME=api_database
COLLECTION_NAME=drivers

# Server Configuration
PORT=3000
